<!DOCTYPE html>
<div class="container">
  <div>
    <div class="list" *ngFor="let book of books; index as i">
      <span>
        <h3>{{i+1}}</h3>
      </span>
      
        <h3 (click)="bookDetail(book.bookId)" >{{book.bookTitle}} </h3>
  
      <button class="buttons" (click)="updateBooks(book.bookId)">&#x270d;</button>
      <button class="buttons" (click)="delete(book.bookId, i)">&#x2718;</button>
    </div>
  </div>
</div>
