<!DOCTYPE html>
<div class="adds" *ngIf="book">
  <form #bookDetails="ngForm" (ngSubmit)="addBook()">
    <div class="l2"><label>ISBN-No:</label><input type="text" name="isbn" [(ngModel)]="book.isbn"></div><br>
    <div class="l2"><label>Title:</label><input type="text" name="bookTitle" [(ngModel)]="book.bookTitle"></div><br>
    <div class="l2"><label>Author:</label><input type="text" name="bookAuthor" [(ngModel)]="book.bookAuthor"></div><br>
    <div class="l2"><label>Description:</label><textarea type="text" name="bookDescription" [(ngModel)]="book.bookDescription" rows="3"></textarea></div><br>
    <div class="buttons"><button type="submit" value="submit">Submit</button></div>
  </form>
</div>