<!DOCTYPE html>
<div class="adds">
  <form #bookDetails="ngForm" (ngSubmit)="addBook()"><br>
    <div class="l1"><label> ISBN-No:</label>
      <input type="text" required #isbn="ngModel" pattern="[A-Za-z0-9]{11}$"
      [class.is-invalid]="isbn.invalid && isbn.touched"
      class="form-control" name="isbn"  [(ngModel)]="book.isbn">
      <small class="text-danger" [class.d-none]="isbn.valid || isbn.untouched">
        ISBN should be 11 characters</small>
    </div>
    <div class="l1"><label> Title:</label>
      <input type="text" required #bookTitle="ngModel" pattern="[A-Za-z,.\s]{5,50}$"
      [class.is-invalid]="bookTitle.invalid && bookTitle.touched"
      class="form-control" name="bookTitle" [(ngModel)]="book.bookTitle">
      <small class="text-danger" [class.d-none]="bookTitle.valid || bookTitle.untouched">
        Title should be than 5-50 characters</small>
    </div>
    <div class="l1"><label> Author:</label>
      <input type="text" required #bookAuthor="ngModel" pattern="[A-Za-z,.\s]{5,50}$"
      [class.is-invalid]="bookAuthor.invalid && bookAuthor.touched"
      class="form-control" name="bookAuthor" [(ngModel)]="book.bookAuthor">
      <small class="text-danger" [class.d-none]="bookAuthor.valid || bookAuthor.untouched">
        Author name should be 5-50 characters</small>
    </div>
    <div class="l1"><label> Description:</label>
      <textarea type="text" required #bookDescription="ngModel" pattern="[A-Za-z,.\s]{10,500}$"
      [class.is-invalid]="bookDescription.invalid && bookDescription.touched"
      class="form-control" name="bookDescription" [(ngModel)]="book.bookDescription" rows="3"></textarea>
      <small class="text-danger" [class.d-none]="bookDescription.valid || bookDescription.untouched">Book Description should be 10-500 characters</small>
    </div>
    <div class="buttons"><button type="submit">Add</button></div>
  </form>
</div>
